In [2]:
1#to sum all the items in a list
lst=[]
num=int(input("how many numbers"))
for i in range(num):
                     numbers=int(input("enter the numbers"))
                     lst.append(numbers)
print("sum of elements in a list is",sum(lst))

how many numbers5
enter the numbers20
enter the numbers30
enter the numbers40
enter the numbers50
enter the numbers60
sum of elements in a list is 200

In [4]:
2#empty list of dictioniries
res=[{}]*6
print("the empty list of dictiniries is:"+str(res))

the empty list of dictiniries is:[{}, {}, {}, {}, {}, {}]

In [7]:
3#iterate keys using for loop
d={'red':1,'green':2,'blue':3}
for color_key,value in d.items():
       print(color_key,'corresponds to',d[color_key])

red corresponds to 1
green corresponds to 2
blue corresponds to 3

In [8]:
#4sum of all the items in a dictioniries
my_dict={'data1':100,'data2':200,'data3':300}
print(sum(my_dict.values()))

600

In [9]:
#5 to create a tuple
my_data=("hi","hello","bye")
print(my_data)

('hi', 'hello', 'bye')

In [10]:
#6 tuple with diff data types
tuplex=("tuple",False,3.2,1)
print(tuplex)

('tuple', False, 3.2, 1)

In [11]:
#7tuple to string
tup=('e','x','e','r','c','i','s','e')
str= ''.join(tup)
print(str)

exercise

In [12]:
#8 to slice a tuple
tuplex=(1,2,3,4,5,6,7,8,9,10)
slice=tuplex[3:5]
print(slice)

(4, 5)

In [13]:
#9length of atuple
tuplex=tuple("momdad")
print(tuplex)
print(len(tuplex))

('m', 'o', 'm', 'd', 'a', 'd')
6

In [14]:
#10 to reverse a tuple
def reverse(tuples):
  new_tup=tuples[::-1]
  return new_tup
tuples=('c','r','i','c','k','e','t')
print(reverse(tuples))

('t', 'e', 'k', 'c', 'i', 'r', 'c')